<div class = "row">
  <h2> Employee Details</h2>
</div>
<!--<div>
  <div>
    <label> <b> First Name: </b></label> {{employee?.firstName!}}
  </div>
  <div>
    <label> <b> Last Name: </b></label> {{employee?.lastName!}}
  </div>
  <div>
    <label> <b> Email Id: </b></label> {{employee?.emailId!}}
  </div>
</div>-->

<table class = "table table-striped table-bordered">
  <thead>
  <tr>
    <th> First Name</th>
    <th> Last Name </th>
    <th> Email Id</th>
    <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td> {{ employee?.firstName! }} </td>
    <td> {{ employee?.lastName! }} </td>
    <td> {{ employee?.emailId! }} </td>
    <td>
      <button (click) = "updateEmployee(employee?.id!)" class = "btn btn-primary"> Update</button>
      <button (click) = "deleteEmployee(employee?.id!)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
      <!--<button (click) = "employeeDetails(employee?.id!)" class = "btn btn-primary" style="margin-left: 10px"> View</button>-->
    </td>
  </tr>
  </tbody>
</table>
